.main-services {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .section-header {
    max-width: 700px;
    margin-top: 20px;
    color: $gray-70;

    .header-title {
      font-size: 36px;
      font-weight: 500;
      text-align: center;
      word-spacing: 2px;
      letter-spacing: 1px;
    }
  }

  .section-content {
    width: 100%;
    margin-top: 80px;

    .services-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px;

      .service-item {
        width: 100%;
        cursor: pointer;
        box-shadow: 5px 5px 15px rgba($gray-10, 0.1);
        border-radius: 1rem;

        figure {
          width: 100%;
          overflow: hidden;
          border-top-right-radius: 1rem;
          border-top-left-radius: 1rem;

          img {
            width: 100%;
            height: auto;
            transform: scale(1);
            transition: transform 450ms ease-in-out;
          }
        }

        .service-header {
          padding: 16px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .service-title {
            margin-bottom: 12px;
            font-size: 24px;
            font-weight: 500;
            text-align: center;
            color: $gray-70;
            transition: color 450ms ease-in-out;
          }

          .service-action {
            text-align: center;
            text-decoration: none;
            color: $gray-10;
            transition: color 450ms ease-in-out;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        &:hover {
          figure {
            img {
              transform: scale(1.1);
            }
          }

          .service-header {
            .service-title {
              color: $primary-color-light;
            }
            .service-action {
              color: $primary-color-lighter;
            }
          }
        }
      }
    }
  }
}

// For smaller devices

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .main-services {
    padding: 120px 12px 40px 12px;

    .section-header {
      margin-top: 0;
      .header-title {
        font-size: 26px;
      }
    }

    .section-content {
      margin-top: 40px;

      .services-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 40px;
      }
    }
  }
}
