// primary colors

$primary-color: #21094e;
$primary-color-light: #351a68;
$primary-color-lighter: #4c307f;
$primary-color-dark: #150334;
$primary-color-darker: #0a011c;

// typography

$color-white: #ffffff;
$gray-100: #000000;
$gray-90: #080808;
$gray-80: #101010;
$gray-70: #181818;
$gray-60: #202020;
$gray-50: #282828;
$gray-40: #303030;
$gray-30: #383838;
$gray-20: #404040;
$gray-10: #484848;

// footer
