@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
.pcu-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #150334;
  z-index: 9999;
}

.pcu-header .header-container {
  max-width: 1200px;
  padding: 18px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pcu-header .header-container .pcu-logo {
  width: 130px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pcu-header .header-container .pcu-logo img {
  width: 100%;
  height: 100%;
}

.pcu-header .header-container .pcu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pcu-header .header-container .pcu-nav .nav-item {
  position: relative;
  padding: 8px 6px;
  margin: 0 12px;
  font-size: 0.8rem;
  font-weight: 400;
  color: #ffffff;
  text-transform: capitalize;
  letter-spacing: 1px;
  cursor: pointer;
}

.pcu-header .header-container .pcu-nav .nav-item a {
  color: #ffffff;
  text-decoration: none;
}

.pcu-header .header-container .pcu-nav .nav-item::after {
  content: "";
  width: 100%;
  height: 1.5px;
  border-radius: 1px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.pcu-header .header-container .pcu-nav .nav-item:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.pcu-header .header-container .pcu-nav .nav-item:last-child {
  margin-right: 0;
}

.pcu-header .header-container .pcu-nav .active::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.pcu-header .header-container .hamburger {
  display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .pcu-header .header-container {
    padding: 12px 20px;
  }
  .pcu-header .header-container .pcu-logo {
    width: 110px;
    height: 35px;
  }
  .pcu-header .header-container .hamburger {
    cursor: pointer;
    width: 35px;
    height: 30px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 999999;
  }
  .pcu-header .header-container .hamburger div {
    background-color: #fafafa;
    border-radius: 10px;
    width: 100%;
    height: 3px;
    margin: 3px 0;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }
  .pcu-header .header-container .hamburger-open {
    position: relative;
  }
  .pcu-header .header-container .hamburger-open div:nth-child(1) {
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .pcu-header .header-container .hamburger-open div:nth-child(2) {
    opacity: 0;
  }
  .pcu-header .header-container .hamburger-open div:nth-child(3) {
    position: absolute;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .pcu-header .header-container .pcu-nav {
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100vh;
    padding-top: 96px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #150334;
    z-index: 999;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }
  .pcu-header .header-container .pcu-nav .nav-item {
    padding: 4px 6px;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
  }
  .pcu-header .header-container .pcu-nav .nav-item:last-child {
    margin-right: 12px !important;
  }
  .pcu-header .header-container .open {
    right: 0%;
  }
  .pcu-header .header-container:last-child:checked ~ .pcu-nav {
    right: 0;
  }
}

.main-hero {
  width: 100%;
}

.main-hero .slider {
  width: 100%;
}

.main-hero .slider .owl-stage-outer {
  width: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .main-hero {
    padding-bottom: 40px;
  }
}

.main-about {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-about .section-header {
  max-width: 600px;
  margin-top: 20px;
  color: #181818;
}

.main-about .section-header .header-title {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.main-about .section-content {
  width: 100%;
  margin-top: 80px;
}

.main-about .section-content iframe {
  width: 100%;
  border: 0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .main-about {
    padding: 120px 12px 40px 12px;
  }
  .main-about .section-header {
    margin-top: 0;
  }
  .main-about .section-header .header-title {
    font-size: 26px;
  }
  .main-about .section-content {
    margin-top: 40px;
  }
}

.main-need {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-need .section-header {
  max-width: 700px;
  margin-top: 20px;
  color: #181818;
}

.main-need .section-header .header-title {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.main-need .section-content {
  width: 100%;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-need .section-content .content-items {
  margin-right: 10px;
  max-width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-column-gap: 10px;
}

.main-need .section-content .content-items .content-item {
  padding: 16px 16px 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-need .section-content .content-items .content-item .item-header {
  margin-bottom: 12px;
  color: #181818;
}

.main-need .section-content .content-items .content-item .item-detail {
  font-size: 14px;
  line-height: 1.6;
  color: #484848;
}

.main-need .section-content .beer-slider[data-beer-label]:after {
  background-color: #21094e;
  color: #ffffff;
  text-transform: capitalize;
}

.main-need .section-content .beer-reveal[data-beer-label]:after {
  background-color: #21094e;
  color: #ffffff;
  text-transform: capitalize;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .main-need {
    padding: 40px 12px;
    margin-top: 80px;
  }
  .main-need .section-header {
    margin-top: 0;
  }
  .main-need .section-header .header-title {
    font-size: 26px;
  }
  .main-need .section-content {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-need .section-content .content-items {
    margin-right: 0;
    margin-bottom: 32px;
    max-width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }
  .main-need .section-content .content-items .content-item {
    margin-bottom: 20px;
    padding: 0 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main-need .section-content .content-items .content-item .item-detail {
    font-size: 16px;
  }
}

.main-services {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-services .section-header {
  max-width: 700px;
  margin-top: 20px;
  color: #181818;
}

.main-services .section-header .header-title {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.main-services .section-content {
  width: 100%;
  margin-top: 80px;
}

.main-services .section-content .services-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.main-services .section-content .services-grid .service-item {
  width: 100%;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 15px rgba(72, 72, 72, 0.1);
          box-shadow: 5px 5px 15px rgba(72, 72, 72, 0.1);
  border-radius: 1rem;
}

.main-services .section-content .services-grid .service-item figure {
  width: 100%;
  overflow: hidden;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.main-services .section-content .services-grid .service-item figure img {
  width: 100%;
  height: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 450ms ease-in-out;
  transition: -webkit-transform 450ms ease-in-out;
  transition: transform 450ms ease-in-out;
  transition: transform 450ms ease-in-out, -webkit-transform 450ms ease-in-out;
}

.main-services .section-content .services-grid .service-item .service-header {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-services .section-content .services-grid .service-item .service-header .service-title {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #181818;
  -webkit-transition: color 450ms ease-in-out;
  transition: color 450ms ease-in-out;
}

.main-services .section-content .services-grid .service-item .service-header .service-action {
  text-align: center;
  text-decoration: none;
  color: #484848;
  -webkit-transition: color 450ms ease-in-out;
  transition: color 450ms ease-in-out;
}

.main-services .section-content .services-grid .service-item .service-header .service-action:hover {
  text-decoration: underline;
}

.main-services .section-content .services-grid .service-item:hover figure img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main-services .section-content .services-grid .service-item:hover .service-header .service-title {
  color: #351a68;
}

.main-services .section-content .services-grid .service-item:hover .service-header .service-action {
  color: #4c307f;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .main-services {
    padding: 120px 12px 40px 12px;
  }
  .main-services .section-header {
    margin-top: 0;
  }
  .main-services .section-header .header-title {
    font-size: 26px;
  }
  .main-services .section-content {
    margin-top: 40px;
  }
  .main-services .section-content .services-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 40px;
  }
}

.main-testimonials {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px 0 20px;
}

.main-testimonials .section-header {
  max-width: 100%;
  margin-top: 20px;
  color: #181818;
}

.main-testimonials .section-header .header-title {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.main-testimonials .testimonial-slider .item {
  text-align: center;
  padding: 50px;
  margin-bottom: 80px;
  opacity: 1;
  -webkit-transform: scale3d(0.8, 0.8, 1);
          transform: scale3d(0.8, 0.8, 1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.main-testimonials .testimonial-slider .item .shadow-effect {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #ececec;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.02);
}

.main-testimonials .testimonial-slider .item .shadow-effect .img-circle {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  max-width: 90px;
  margin: 0 auto 17px;
  border-radius: 50%;
}

.main-testimonials .testimonial-slider .item .shadow-effect p {
  font-family: inherit;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 17px 0;
  font-weight: 300;
}

.main-testimonials .testimonial-slider .item .testimonial-name {
  margin: -17px auto 0;
  display: table;
  width: auto;
  background: #21094e;
  padding: 9px 35px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
          box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .main-testimonials {
    padding: 40px 12px 0 12px;
    margin-top: 130px;
  }
  .main-testimonials .section-header {
    max-width: 100%;
  }
  .main-testimonials .section-header .header-title {
    font-size: 26px;
  }
  .main-testimonials .testimonial-slider .item {
    padding: 20px;
    margin-bottom: 40px;
  }
}

.pcu-main {
  max-width: 100%;
  margin: 0 auto;
}

.pcu-footer {
  background-color: #181818;
  color: #ffffff;
}

.pcu-footer .footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px 20px 20px;
}

.pcu-footer .footer-container .top-row {
  padding-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 36px;
  border-bottom: 1px solid #383838;
}

.pcu-footer .footer-container .top-row .single-footer-widget {
  max-width: 450px;
}

.pcu-footer .footer-container .top-row .single-footer-widget .pcu-logo {
  margin-bottom: 24px;
}

.pcu-footer .footer-container .top-row .single-footer-widget .pcu-footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pcu-footer .footer-container .top-row .single-footer-widget .pcu-footer-nav .footer-nav-item {
  padding: 4px 8px;
  margin: 4px 0;
  text-align: center;
  cursor: pointer;
}

.pcu-footer .footer-container .top-row .single-footer-widget .pcu-footer-nav .footer-nav-item a {
  color: #ffffff;
  text-decoration: none;
}

.pcu-footer .footer-container .top-row .single-footer-widget .pcu-footer-nav .footer-nav-item a:hover {
  text-decoration: underline;
}

.pcu-footer .footer-container .top-row .single-footer-widget h3 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  text-align: center;
  margin-bottom: 24px;
}

.pcu-footer .footer-container .top-row .single-footer-widget p {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
}

.pcu-footer .footer-container .bottom-row .copyright-message {
  text-align: center;
  font-size: 14px;
}

.pcu-footer .footer-container .bottom-row .copyright-message a {
  color: #ffffff;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .top-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f4f4f4;
  font-family: "Poppins", sans-serif;
}
/*# sourceMappingURL=main.css.map */